@import "boxStyling";

body {
    background: #1D77EF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1D77EF, #81F3FD);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1D77EF, #81F3FD);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1D77EF, #81F3FD);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1D77EF, #81F3FD);
    /* Standard syntax */
    height: 1000px;
}

.row-buffer {
    margin-top: 200px;
}
